[2021-02-25 20:47] lcobucci opened #3 "Include infection and roave/infection-static-analysis-plugin to matrix"
### Feature Request

|    Q        |   A
|------------ | ------
| New Feature | yes
| RFC         | no
| BC Break    | no

#### Summary

As discussed in https://github.com/laminas/automatic-releases/pull/118, we want to include `infection` and `roave/infection-static-analysis-plugin` to matrix here - so that we can also make automatic-releases use our brand new CI matrix process.

The only thing w

[2021-03-02 21:00] weierophinney commented on #3
For this, you'll add a new `Check` in the `src/create-jobs.js` file. Each `Check` accepts a boolean to indicate whether or not to disable it outright (e.g., if only documentation files have been changed, you could exclude infections), an array of callables to test for conditions that would indicate the check should occur (e.g., if a given configuration file is present; first one to return true ind

[2021-03-03 09:30] gsteel opened #4 "Code Coverage Reporters"
### Feature Request

|    Q        |   A
|------------ | ------
| New Feature | yes
| RFC         | ?
| BC Break    | ?

#### Summary

It would be really cool to detect or configure the ability to report coverage after successful PHPUnit actions. I guess these would be vendor specific?

Most laminas repos seem to use coveralls and have an existing coveralls.yml file. I personally tend to favour co

[2021-03-03 11:31] gsteel commented on #4
Maybe, adding clover output to GitHub artefacts on the one of the PHPUnit jobs would suffice? Then consumers could add their own coverage processors by fetching the artefact and uploading it to their tool of choice. Would that be possible?

[2021-03-03 18:15] Ocramius commented on #4
perhaps by looking at declared environment variables, then using those to publish to various external services?

Every tool uses different approaches (clover report, junit report, etc.), so the actual tests to run would depend on the tool to integrate.

[2021-03-03 21:43] weierophinney commented on #4
What we could potentially do for now is to _generate_ the code coverage report when running PHPUnit. You could then use a `.laminas-ci/post-run.sh` script to upload the report to the location of your choice, using the tool of your choice.

Alternately, one feature I've been considering is one to allow specifying _additional_ checks to include (instead of defining the full set via the `.laminas-ci.

[2021-03-03 21:57] weierophinney opened #11 "Add the ability to specify additional checks to perform"
### Feature Request

|    Q        |   A
|------------ | ------
| New Feature | yes
| RFC         | yes
| BC Break    | no

#### Summary

Currently, the `.laminas-ci.json` file allows you to specify a "checks" key, which is an array of checks to run. When defined, it specifies your _entire_ matrix to run; the action does no discovery of its own at that point.

Sometimes, however, you may only want

[2021-03-04 15:47] weierophinney opened #13 "Provide ability to specify jobs defined in checks configuration as objects"
### Feature Request

|    Q        |   A
|------------ | ------
| New Feature | yes
| BC Break    | no

#### Summary

Currently, the "checks" element is expected to be an object with the following schema:

[code]

For configuration purposes, it would be easier if the "job" element of a check could be an actual JSON object:

[code]

Each of "extensions", "ini", and "dependencies" are technically op

[2021-03-04 16:01] #11 closed, assigned to weierophinney

[2021-03-04 17:05] #13 closed, assigned to nobody

[2021-03-04 17:10] weierophinney commented on #4
Version 1.3.0 has the ability to specify additional checks to run, besides those auto-discovered now (see #12 for details).

[2021-03-04 21:56] gsteel commented on #4
Thanks @weierophinney – #12 makes it really easy to add another check. I added a composer script say `phpunit --coverage-clover` and then ran this from `additional_checks` with the pcov extension stupidly thinking that I'd be able to get hold of `coverage.xml` inside my next action, in my case `codecov/codecov-action@v1` which was queued up by `needs: [qa]`

The problem is extracting the coverage

[2021-03-04 23:07] weierophinney commented on #4
That's awesome, @gsteel !

So, the laminas-continuous-integration-action and this one both perform a clone operation internally, so that they can do shallow checkouts of just the PR branch and, in the case of this action, the target branch, allowing us to do diffs without too much overhead.

That said... I did some improvements for either the 1.1 or 1.2 series of the laminas-continuous-integration

[2021-03-04 23:10] weierophinney opened #15 "Modify checkout routine in entrypoint to play nice with action/checkout"
### Feature Request

|    Q        |   A
|------------ | ------
| New Feature | yes
| BC Break    | no

#### Summary

As noted in #4, [laminas/laminas-continous-integration-action](https://github.com/laminas/laminas-continous-integration-action) already supports the possibility of using the action in conjunction with action/checkout; the [relevant bits are here](https://github.com/laminas/laminas-

[2021-03-05 08:01] gsteel commented on #4
I didn't realise that the actions all operate on the same workdir - I assumed everything was torn down for each run. So what you're saying is that workflows could be updated to something like:

- matrix
- checkout
- matrix-runs
- more-stuff that can access artifacts in the workdir.

That would be really handy!

[2021-03-05 14:27] #15 closed, assigned to nobody

[2021-03-05 14:54] weierophinney commented on #4
@gsteel Yes! Though the CI matrix has to be one job, and then the CI and any other steps would be the next job, as it _consumes_ the matrix. In a bullet-pointed tree layout:

- jobs
  - matrix
  - CI
    - checkout
    - CI action
    - more stuff accessing artifacts in the workdir

Generally speaking, I'd likely try and do jobs that are self-contained, rather that rely on later steps to deal with

[2021-03-05 16:00] gsteel commented on #4
Thanks for all of your help @weierophinney, I tried mucking about with running the checkout, matrix job, codecov _action_ just for kicks, and found that nothing in the workdir was available to the final action. That is probably down to my _(mis)_understanding of how actions work…

Also, the main problems with running any of the actual tests and coverage uploads via composer is the lack of environm

[2021-03-05 16:13] weierophinney commented on #4
Absolutely! Please send a PR for that!

[2021-03-14 18:54] boesing opened #19 "Switching to shivammathur/php-builder"
## RFC

| Q                   | A      |
| ------------------- | ------ |
| Proposed Version(s) | any next minor  |
| BC Break?           | I think not |

### Goal

I think it would be quite helpful to use `shivammathur/php-builder` to early create issues and PRs to add support for PHP 8.1 so we do not have the same mess as with PHP 8.0 which is still not yet finished (no blaming, we are just lack

[2021-03-14 19:02] Ocramius commented on #19
Not sure how that would be feasible, since using actions transitively
doesn't really work

On Sun, Mar 14, 2021, 19:55 Maximilian Bösing ***@***.***>
wrote:

[2021-03-14 19:10] boesing commented on #19
Dang, I wanted to link to https://github.com/shivammathur/php-builder. Gonna fix that now.

[2021-03-15 20:14] weierophinney commented on #19
I consider this a feature, not a bug.

One thing we do NOT want to be doing is chasing unstable APIs. If we start testing during pre-alpha or alpha stages, we risk making changes that we then have to either back out, or change again. Waiting until beta generally ensures we do not waste effort.

[2021-03-21 06:16] Slamdunk opened #22 "Add composer.json linting to every matrix"
### Feature Request

|    Q        |   A
|------------ | ------
| New Feature | yes
| RFC         | no
| BC Break    | no

#### Summary

Hi, I'd like to add to every matrix one with the purpose of linting `composer.json`. In [Paratest](https://github.com/paratestphp/paratest/blob/v6.2.0/.github/workflows/integrate.yaml#L12) we use 4 steps:

| Command | Reference |
| --- | --- |
| `composer validat

[2021-03-22 15:37] weierophinney commented on #22
I'd argue we should do validation directly in this action, and then have the action generate one or more jobs that performs the require-checker and unused checks (normalize is really only interesting if we do a diff and/or autocommit the changes).

(Validation in this action would be required, as it would guarantee that the `composer install/update` operations in the CI action do not fail.)

[2021-03-23 06:21] Slamdunk commented on #22
That'd be great, but how would you do that, considering that [`composer validate`](https://github.com/composer/composer/blob/master/src/Composer/Command/ValidateCommand.php) command needs PHP runtime, but this actions runs on `node`?

That is right, but I don't think it's worth the effort of building such tool.
After the initial normalization, for which I can open a PR on all laminas packages with

[2021-03-30 20:55] weierophinney commented on #22
Composer [publishes its schema](https://getcomposer.org/schema.json), and we can use node-based tooling to validate the `composer.json` file against it.

[2021-04-01 18:41] weierophinney opened #23 "Fix broken v1 tag"
### Bug Report

The laminas/laminas-continuous-integration action was incorrectly specifying laminas-ci-matrix as its tag prefix, which led to it overwriting the v1 tag for this action.

We simply need to force a new release.

[2021-04-01 18:42] weierophinney commented on #23
Closing, to allow closing 1.5.2 milestone, and thus forcing a release.

[2021-04-01 18:42] #23 closed, assigned to nobody

[2021-04-02 15:19] boesing opened #24 "Pull requests without dedicated branch fail creating the matrix"
### Bug Report

|    Q        |   A
|------------ | ------
| Version(s)  | 1.5.2

#### Summary

It seems that for pull requests, which are created from the same branch in the forked repository, it is not possible to create a diff for the matrix generation.

#### Current behavior

Target branch: `1.2.x`
Project branch: `1.2.x`

[code]

https://github.com/laminas/laminas-mvc-i18n/pull/7/checks?check

[2021-04-02 15:24] boesing commented on #24
Uh, interesting fact. I've created a dedicated PR with the same commit but other source branch and the same checks are applied for both PRs:

https://github.com/laminas/laminas-mvc-i18n/pull/7
https://github.com/laminas/laminas-mvc-i18n/pull/10

[2021-04-02 16:27] boesing commented on #19
Well, yes. This might lead to PRs to fix problems which might be superfluous in upcoming versions due to the changing target.
Let us keeping an eye on when we are able to test against PHP 8.1. If we think that its "too late", we can still consider switching to `shivammathur/php-builder`.

[2021-04-08 05:32] gpgkd906 commented on #24
@boesing
I think I have meet the same problem, with this [PR](https://github.com/laminas/laminas-permissions-rbac/pull/13)
how can i fix this?

[2021-04-08 07:42] boesing commented on #24
@gpgkd906 Best practice is to have a dedicated branch for anything you are working on in git.
So you should create a feature branch, e.g. `feature/php80`, and use that for PRs.

You can use this cheat sheet for more details on how to create that branch: https://education.github.com/git-cheat-sheet-education.pdf

[2021-04-08 09:57] gpgkd906 commented on #24
@boesing
Thanks very much.
I create a feature branch ```feature/php80 ``` and create a new [PR](https://github.com/laminas/laminas-permissions-rbac/pull/20) then it passed.
the interesting things is, when new PR passed, the old [PR](https://github.com/laminas/laminas-permissions-rbac/pull/13) which was failed, now is passed too.

[2021-04-08 10:09] boesing commented on #24
Thats exactly what I've found out in my [second comment in this issue](https://github.com/laminas/laminas-ci-matrix-action/issues/24#issuecomment-812577368). 👍🏼

[2021-04-21 10:41] boesing commented on #24
Fixed with [v1.7.1](https://github.com/laminas/laminas-ci-matrix-action/releases/tag/1.7.1)

[2021-04-21 10:41] #24 closed, assigned to nobody

[2021-07-12 21:15] boesing commented on #22
I've added a schema valiation in #33

#### composer validate --strict
After this, I think it could be worth adding `composer validate --strict --no-check-all` to keep things simple.

#### composer-normalize
`composer-normalize` will probably fail in some projects, so I'd say we should have this as opt-in.

#### composer-require-checker
`composer-require-checker` could be problematic as we are usin

[2021-08-11 16:04] weierophinney commented on #22
Accomplished with #33.

[2021-08-11 16:04] #22 closed, assigned to nobody

[2021-08-12 08:41] boesing opened #36 "Matrix crashes due to missing json-schema node dependency"
### Bug Report

|    Q        |   A
|------------ | ------
| Version(s)  | 1.8.0

#### Summary

It seems that the node dependency `@cfworker/json-schema` is not installed when matrix generation ramps up.

#### Current behavior

[code]

#### How to reproduce

Run matrix generation on any project on github which uses this action.

https://github.com/boesing/psalm-plugin-stringf/pull/8/checks?check_r

[2021-08-13 06:10] #36 closed, assigned to nobody

[2021-08-17 22:57] boesing opened #49 "JSON Schema for `.laminas-ci.json`"
### Feature Request

|    Q        |   A
|------------ | ------
| New Feature | yes
| RFC         | yes
| BC Break    | no

#### Summary

This action is currently parsing project configurations and ignores badly formatted jobs while adding a warning to the output.

I would prefer having a check fail. This could be done by creating a JSON Schema along with a Schema validation as done for `composer.

[2021-08-17 22:59] boesing commented on #19
Implemented PoC in https://github.com/laminas/laminas-continuous-integration-action/pull/46

php-builder does only provide binaries for PHP 8+.

[2021-08-17 23:03] boesing commented on #19
Closing here as we probably wont change the matrix.

[2021-08-17 23:03] #19 closed, assigned to nobody

[2021-08-23 07:45] Ocramius commented on #49
Absolutely on board!

Having a schema definition would totally aid as documentation too :)

[2021-08-24 17:10] boesing opened #52 "`@highest` value for `php` in `.laminas-ci.json`"
### Feature Request

|    Q        |   A
|------------ | ------
| New Feature | yes
| RFC         | yes
| BC Break    | yes

#### Summary

I wonder if thats something we might want to add to allow projects to declare some stuff on the latest PHP version that project is supporting. I don't really have a use-case as of now but having this might probably open up some things for other projects.

So in

[2021-09-12 11:19] boesing opened #53 "`.laminas-ci.json` change in PR does not execute all jobs"
### Bug Report

|    Q        |   A
|------------ | ------
| Version(s)  | 1.10.0

#### Summary

When adding `.laminas-ci.json` or when changing that file, I would expect that the matrix generates **all** jobs as:
1.  there could be new jobs added with `additional_checks`
2. existing jobs are being excluded using `exclude`
3. existing jobs are being overridden with `checks`

https://github.com/boe

[2021-09-12 12:03] boesing opened #54 "Simplify `.laminas-ci.json`"
### Feature Request

|    Q        |   A
|------------ | ------
| New Feature | yes
| RFC         | yes
| BC Break    | yes

#### Summary

The `.laminas-ci.json` allows to pass `checks` which overrides the `additional_checks` and thus are mutually exclusive. This makes the JSON schema more bloated as we have to provide two configuration combinations with either `checks` or `additional_checks`.

Th

[2021-09-12 16:35] boesing commented on #49
Implemented in #55

[2021-09-19 03:20] Ocramius opened #60 "Include `roave/backward-compatibility-check` in CI runs"
### Feature Request

|    Q        |   A
|------------ | ------
| New Feature | yes
| RFC         | yes
| BC Break    | no

#### Summary

https://github.com/Roave/BackwardCompatibilityCheck helps in guaranteeing that no accidental BC breaks land in existing code in minor/patch releases.

My suggestion is to add a CI action that:

 * runs https://github.com/Roave/BackwardCompatibilityCheck on pull

[2021-09-24 14:54] #53 closed, assigned to nobody

[2021-10-10 15:06] #49 closed, assigned to nobody

[2021-10-10 15:09] #52 closed, assigned to nobody

[2021-10-10 17:49] #3 closed, assigned to nobody

[2021-12-26 05:02] Ocramius opened #72 "Running into PHP memory limits when running `infection/infection` with this CI action"
### Bug Report

|    Q        |   A
|------------ | ------
| Version(s)  | 1.11.4

#### Summary

When running `infection/infection` with this action, relatively low memory limits are hit in this job:

https://github.com/laminas/laminas-ci-matrix-action/blob/71aa5bef47be3a9d3e1a3865f43caf16708ed847/src/create-jobs.js#L175-L191

An example is visible at https://github.com/Roave/BackwardCompatibility

[2022-01-17 18:07] ghostwriter opened #73 "Missing jobs due to incompatibility composer PHP version parser"
### Bug Report

|    Q        |   A
|------------ | ------
| Version(s)  | <=1.11.4

#### Summary

the semver version parser does not work correctly if `composer.json` uses this format `"php": ">=7.4, <8.2"`, which prevents certain jobs from being created.

https://github.com/laminas/laminas-ci-matrix-action/blob/71aa5bef47be3a9d3e1a3865f43caf16708ed847/src/config.js#L25-L39

#### Current behavior

[2022-01-19 08:28] boesing commented on #73
Hey, thanks for reporting back.
I am unsure if this is related to this package or to upstream https://github.com/npm/node-semver
We do not implement semver ourselves and thus I'd report it there.

Since there was no update since 03/2021, the current matrix action container should already contain the latest version of `node-semver`.

Do you know any other semver parsing library which could replace

[2022-01-19 13:35] ghostwriter commented on #73
@boesing I believe it is related to this package. We should "normalize" the `Composer` version string `composerJson['require']['php'].replace(/,\s/i, ' ')` to the format `NPM` understands.

### `NPM`

eg. https://jubianchi.github.io/semver-check/#/%3E%3D1.2.7%20%3C1.3.0/1.2.8

### `Composer`

https://getcomposer.org/doc/articles/versions.md#version-range

eg. https://semver.madewithlove.com/?packa

[2022-01-20 03:20] Ocramius commented on #73
Thanks @ghostwriter!

[2022-01-20 03:20] #73 closed, assigned to Ocramius

[2022-01-20 13:37] boesing commented on #73
Got it, thanks for pointing that out @ghostwriter!

[2022-03-03 00:42] boesing opened #76 "Identify a check by name within CI action"
### Feature Request

|    Q        |   A
|------------ | ------
| New Feature | yes
| RFC         | yes
| BC Break    | no

#### Summary

Hey there,

I am currently working on something and I have the following use-case:
- run tests on all supported PHP versions (works out-of-the-box)
- run tests on lowest PHP version with locked deps (works ootb)
- run tests on lowest PHP version with locked deps

[2022-03-03 00:53] Ocramius commented on #76
Makes sense. Additionally, it would be a good occasion for shortening default names a bit (they all overflow GitHub 's UI)

[2022-03-03 07:17] boesing commented on #76
Yah, but we have to be careful here as these names might be used with "exclude".

https://github.com/boesing/psalm-plugin-stringf/blob/586ae0569b3ef5bcef1035dd70d4778ce8a03bce/.laminas-ci.json#L13

Because thats the only way how you can exclude jobs as of now. But maybe this is only relevant for this action and not for the container action. 👍🏻

[2022-03-03 08:31] boesing commented on #76
Oh, I actually found out that the checks do actually have a name. It is just not used anywhere:
https://github.com/laminas/laminas-ci-matrix-action#providing-specific-checks-to-run

I'll see if we can somehow pass these around while also slightly modifying the `exclude` logic so it can both exclude job names **and** job command strings.

[2022-03-16 16:15] boesing opened #80 "Empty or non-existent `ignore_php_platform_requirements` does not disable PHP 8.0 default behavior"
### Bug Report

|    Q        |   A
|------------ | ------
| Version(s)  | 1.11.5

#### Summary

When I've impelemented the `ignore_php_platform_requirements` feature, the main idea was to get rid of the old and yet deprecated `ignore_platform_reqs_8` feature, which defaulted to `true`.

I was assuming (and thought I've implemented it that way 😅) that when adding an empty `ignore_php_platform_requ

[2022-03-16 22:32] boesing commented on #80
Well, since we do validate project configs with the `laminas-ci.schema.json` and disallow additional properties, projects containing `ignore_platform_reqs_8` won't work anymore.

So we can safely remove `ignore_platform_reqs_8` but we still should provide some information to the CHANGELOG that platform requirements for PHP 8 are not ignored by default anymore.

[2022-03-25 16:10] boesing commented on #80
Input handling will be removed with #83, matrix output stays the same for now.
Disabled PHP 8.0 default ignore behavior.

[2022-03-25 16:11] boesing commented on #54
Will get easier with ~#83~ #95 in case we implement JSON schema generation from typescript interfaces.

[2022-03-30 09:41] boesing opened #84 "`@lowest` and `@latest` is not respected when project provides explicit `checks`"
### Bug Report

|    Q        |   A
|------------ | ------
| Version(s)  | 1.11.4

#### Summary

I am currently working on providing integration tests in #62
There, I've seen that `@lowest` and `@latest` is not properly handled by the matrix action when it comes to explicit checks provided by the projects `.laminas-ci.json`

#### Current behavior

When `@lowest` and/or `@latest` is used for `job.p

[2022-04-06 07:37] boesing opened #85 "Merge CI matrix and CI container into the same project"
### Feature Request

|    Q        |   A
|------------ | ------
| New Feature | yes
| RFC         | kinda
| BC Break    | no

#### Summary

As suggested by @Ocramius on the laminas Slack: We could think about creating a monorepo for the matrix generation and CI container as they heavily depend on each other.
Even tho, its nice to decouple things, it might be worth merging both projects together.

[2022-04-06 23:40] boesing opened #86 "Composer `php` constraints with `,` are not supported"
### Bug Report

|    Q        |   A
|------------ | ------
| Version(s)  | 1.11.5

#### Summary

When a component uses a more complex constraint which contains `,`, the matrix is not able to infer supported PHP versions anymore.

#### Current behavior

Supported PHP versions are not detected at all.

#### How to reproduce

*composer.json*
[code]

#### Expected behavior

All versions between PHP 5.

[2022-04-06 23:53] boesing opened #87 "Use `composer/semver` internally to verify PHP version compatibility"
### Feature Request

|    Q        |   A
|------------ | ------
| New Feature | yes
| RFC         | yes
| BC Break    | no

#### Summary

As of now, we are using some semver javascript library. Since that actually does not align with all the "features" of `composer`, we might want to create a little PHAR which uses `composer/semver` under the hood to simply exit with `0` if PHP version is supporte

[2022-05-30 22:26] Ocramius commented on #80
I have similar issues related to this (this comment is just informational):

 * https://github.com/Roave/BackwardCompatibilityCheck/runs/6661744285?check_suite_focus=true
 * https://github.com/Roave/BackwardCompatibilityCheck/runs/6661746931?check_suite_focus=true

They lead to https://github.com/Roave/BackwardCompatibilityCheck/pull/529 failing

The `.laminas-ci.json` is as follows:

[code]

The

[2022-06-30 00:08] boesing opened #91 "Detect required PHP extensions from locked dependencies"
### Feature Request

|    Q        |   A
|------------ | ------
| New Feature | yes
| BC Break    | no

#### Summary

In #58, we introduced the extension detection from `composer.json`.
However, I've seen a comment in #80 where a project had to add an extension to its `.laminas-ci.json` because it is required by a 3rd-party dependency.

I was thinking about that and I came to the conclusion, that

[2022-06-30 00:13] boesing opened #92 "Optimize `diff` within CI pipeline output for better readability in case of failing tests"
### Feature Request

|    Q        |   A
|------------ | ------
| New Feature | yes

#### Summary

In #62, a CI pipeline was created for this action.
Sadly, the output of the integration tests `diff` are not that easy to understand.

I was thinking of using something like https://github.com/josephburnett/jd

Another "problem" is, that every check has a `job` property which contains the job as a st

[2022-06-30 00:20] boesing opened #93 "Allow `php` and `dependency` in `exclude` along with `name` reflecting the tools/checks name"
### Feature Request

|    Q        |   A
|------------ | ------
| New Feature | yes
| BC Break    | no

#### Summary

Currently, one has to create plenty of `exclude` for PHPUnit for example.
Given the fact, that PHPUnit is executed in at least `lowest` and `latest` (and also `locked` for minimum supported PHP version), that would mean at least 3 entries within `exclude` to exclude a specific PHP

[2022-06-30 00:24] boesing opened #94 "Enable code checks or linters when files from tools are changed (i.e. run all PHPUnit checks when `phpunit.xml.dist` is the only file within the diff)"
### Feature Request

|    Q        |   A
|------------ | ------
| New Feature | yes

#### Summary

Currently, if the `diff` only contains a change for `phpunit.xml.dist` or `infection.json` (etc.), no checks would be generated.
With #83 it would be quite easy to enable specific tool checks for the diff.

Maybe this issue should be renamed to "only enable checks for tools which do match the diff (i

[2022-06-30 00:27] boesing opened #95 "Generate `.laminas-ci.schema.json` from typescript interfaces rather than maintaining it manually"
### Feature Request

|    Q        |   A
|------------ | ------
| New Feature | yes

#### Summary

Currently, the `.laminas-ci.schema.json` is written manually. We can automate this by using https://www.npmjs.com/package/typescript-json-schema instead.

Relates to #54

[2022-06-30 21:34] boesing commented on #84
Will be fixed with #83

[2022-07-03 22:06] #80 closed, assigned to nobody

[2022-07-03 22:06] #84 closed, assigned to nobody

[2022-07-03 22:21] boesing opened #97 "More integrated integration testing"
### Feature Request

|    Q        |   A
|------------ | ------
| New Feature | yes

#### Summary

As of now, we are only integration testing this component by directly executing the `main.js` which is build inside the container.
However, I've tested the latest v1.12.0 release in one of my projects and directly got the issue which was fixed with #96

This ticket is to keep track that we need a mor

[2022-07-05 08:22] boesing opened #105 "Documentation: Add list of supported tools and how to ensure the checks are being properly generated"
### Feature Request

|    Q        |   A
|------------ | ------
| New Feature | no
| RFC         | no
| BC Break    | no

#### Summary

This component supports some tools for CI pipeline, such as:

- PHPCodeSniffer
- Psalm
- PHPUnit
- PHP-CS-Fixer
- etc.

_(List of supported tools can be found in [this file](https://github.com/laminas/laminas-ci-matrix-action/blob/HEAD/src/tools.ts))_

At least fo

[2022-07-20 19:08] renovate[bot] opened #107 "Dependency Dashboard"
This issue lists Renovate updates and detected dependencies. Read the [Dependency Dashboard](https://docs.renovatebot.com/key-concepts/dashboard/) docs to learn more.<br>[View this repository on the Mend.io Web Portal](https://developer.mend.io/github/laminas/laminas-ci-matrix-action).

## Rate-Limited

The following updates are currently rate-limited. To force their creation now, click on a check

[2022-08-10 14:36] boesing opened #118 "Verify `composer.json` constraint changes"
### Feature Request

|    Q        |   A
|------------ | ------
| New Feature | yes
| RFC         | yes
| BC Break    | no

#### Summary

We do have a few components where we actually implement specific interfaces, such as PSR ones.
We had a release for `laminas-servicemanager` which stated to support `psr/container` v2 support. That was incorrect, due to several things:

1. the `composer.json` di

[2022-08-10 14:41] boesing commented on #87
I've created https://github.com/boesing/composer-semver-docker
We can copy the executable from that container to `/usr/local/bin` so it can be used over the npm semver version.

[2022-08-10 14:46] boesing commented on #85
As decided in [TSC Meeting 2022-08-01](https://github.com/laminas/technical-steering-committee/blob/main/meetings/minutes/2022-08-01-TSC-Minutes.md#laminas-continuous-integration-actions): we will merge container and matrix together.

[2022-08-11 15:42] internalsystemerror commented on #86
Would a better way not be to just replace `,` with ` || ` or a space?

[2022-08-11 15:44] Ocramius commented on #86
@internalsystemerror `,` means `AND`, while `||` means `OR` :thinking:

[2022-08-11 15:49] internalsystemerror commented on #86
@Ocramius I've just been reviewing the semver guide on npm https://www.npmjs.com/package/semver and I believe `,` -> ` ` (space) would be the only transformation necessary

[2022-08-11 16:22] boesing opened #120 "Implement dependency injection"
This component does not really use OOP in most places and thus, providing logging and stuff is quite complicated.

To solve this, we can implement a dependency injection library.

I do quote the answer from @internalsystemerror here as he provided some information on how we could move over to dependency injection.

----

I'm mostly familiar with the DI in Angular, but there are (smaller) libraries

[2022-08-11 20:14] Ocramius commented on #120
Does a bootstrap script not suffice? Like an entrypoint script? In theory, we don't need a DIC at all 🤔

[2022-08-11 20:15] Ocramius commented on #120
An example: https://github.com/Roave/BackwardCompatibilityCheck/blob/cbda716d8ce95a64dd74b1727f6fedb66b1dc920/bin/roave-backward-compatibility-check.php#L64-L316

[2022-08-16 15:03] Ocramius opened #121 "`ext-pdo_sqlite` is not really installable"
### Bug Report

|    Q        |   A
|------------ | ------
| Version(s)  | 1.13.0

#### Summary

Given following `composer.json`:

[code]

CI fails with:

[code]

This is obviously an edge case, but even specifying extensions in `.laminas-ci.json` doesn't help, as the default behavior still stays active

[2022-08-16 15:33] boesing commented on #121
I remember that I somewhere had some kind of mapping for these cases... 🤔

[2022-08-16 15:37] boesing commented on #121
https://github.com/laminas/laminas-continuous-integration-action/blob/9376275b657d69ec7bbe72fb4b94b88e4724a42f/scripts/extensions.sh#L53

That was somehow removed but only relates to `sqlsrv` and not to `sqlite`.
Does that extension actually exist or should it be `ext-sqlite` instead in combination with `ext-pdo`?

[2022-08-16 15:48] Ocramius commented on #121
In composer, `ext-pdo_sqlite` means "PDO with Sqlite driver", which is kinda weird :|

[2022-08-16 15:55] boesing commented on #121
Mh, could you try to actually add `pdo` + `sqlite` to your `.laminas-ci.json` in the `extensions` list?
Afaik, sury provides some magic to actually deliver these via dedicated packages.

[2022-08-16 16:06] Ocramius commented on #121
I tried adding `pdo` and `sqlite3` (`sqlite` doesn't exist)

[2022-08-16 16:14] boesing commented on #121
Does that work or is the `sqlite` plugin for `pdo` missing afterwards? 🤔

[2022-08-16 16:17] Ocramius commented on #121
When installing sqlite3, PDO also gets PDO-Sqlite :shrug:

[2022-08-16 16:24] boesing commented on #121
That was what I was expecting.

So maybe we should add some kind of "rules" for this.
Something like:
- parse extensions with `pdo_(.*)`
- if exists, add `pdo` to the `extensions` list we do provide to the container
- add special handlings for `sqlite` (so require `sqlite3`)
- ignore those without special handlings

This will at least avoid the CI container from failing. Is there a list of all the

[2022-08-16 16:26] boesing commented on #121
It seems that this works: https://github.com/laminas/laminas-db/blob/da6d5a49ac4f200da61b3a59096bf2717fbaf928/.laminas-ci.json#L5

[2022-08-16 16:27] Ocramius commented on #121
Consider that it's not in the required dependencies though: https://github.com/laminas/laminas-db/blob/da6d5a49ac4f200da61b3a59096bf2717fbaf928/composer.json#L33-L43

[2022-08-16 16:32] boesing commented on #121
Correct, I just try to find solutions here.
I don't care if its the requirement of a package - if packages do not explicitly require extensions but provide some via `.laminas-ci.json`, that would be fine for me.

Imho, the container should convert extensions to the appropriate namings of the packages. As of now, we are lucky that sury usually names packages exactly the same as they're named in PEC

[2022-08-23 15:40] internalsystemerror opened #125 "Consider composer validation commands"
### Feature Request

|    Q        |   A
|------------ | ------
| New Feature | yes
| RFC         | yes
| BC Break    | ~~yes/no~~ maybe?

#### Summary

1. Run `composer validate` to confirm that there are no issues with the `composer.json` file.
2. Run `composer check-platform-reqs`, at least where `--ignore-platform-reqs` is not used in order to confirm that the installed packages should functio

[2022-08-23 15:43] Ocramius commented on #125
I really want this sort of stuff in independent jobs, not in "before" or "after" scripts.

Having to jump in a failed PHPUnit job because something completely unrelated failed is no fun :D

[2022-08-23 15:51] internalsystemerror commented on #125
Good idea, I should probably transfer this to the matrix action repository.

[2022-08-25 15:00] internalsystemerror commented on #125
Hmmm... My original thoughts for adding this to the integration action are because if composer install fails, I'm not sure it will then proceed to `composer validate` in order to get more information as to why it failed. But the information given is an assumption, I intend to do some testing to see what benefits `composer validate` could bring us over a simple install.

As it relates to the `compo

[2022-08-25 15:02] internalsystemerror commented on #125
Also adding `composer audit` for consideration (issue description updated)

[2022-09-05 14:25] basz opened #129 "support for the config.bin-dir options in composer.json"
### Feature Request

|    Q        |   A
|------------ | ------
| New Feature | yes
| BC Break    | no

#### Summary

Tools binaries might be in a different location than `/vendor/bin`.

We could a support for the config.bin-dir options in composer.json

This outputs the current set location.
[code]

[2022-09-05 14:28] Ocramius commented on #129
Clear *no* from my end: `vendor/bin` is pretty much ubiquitous, and you should really not mess with that :)

[2022-09-05 14:28] #129 closed, assigned to Ocramius

[2022-09-05 15:22] basz commented on #129
lol. fine.

[code]

[2022-09-06 05:23] basz opened #130 "Initial clone not working for private repositories"
### Bug Report

|    Q        |   A
|------------ | ------
| Version(s)  | 1.17

#### Summary

Initial git clone fails for private repositories

#### Current behavior

[code]

#### How to reproduce

1. create a private repository on github
2. add this workflow https://github.com/laminas/workflow-continuous-integration
3. Add GITHUB_TOKEN as environment variable to the steps
4. push

#### Expected

[2022-09-06 08:10] Ocramius commented on #130
I wonder if we could use `actions/checkout` as child action :thinking:

Doing the cloning ourselves is both inefficient (github is smarter about it), and unsafe (we may leak secrets during crashes).

@basz meanwhile, do you know which `git` command it executed, precisely?

[2022-09-06 08:21] basz commented on #130
My thought exactly. Just don't know how...

Looking at the output "Cloning repository" I'm guessing [here](https://github.com/laminas/laminas-ci-matrix-action/blob/1.18.x/entrypoint.sh#L52) and combined with GITHUB_REPOSITORY [from](https://docs.github.com/en/actions/learn-github-actions/environment-variables) that should be;

`git clone https://github.com/plhw/lab-api-model-valueobject`.

Could i

[2022-09-07 14:56] basz commented on #130
asked because it seems GITHUB_REPOSITORY is empty...

[2022-09-13 11:21] Ocramius commented on #121
Totally missed this again, sorry. In practice, I ended up moving away from the laminas CI setup in https://github.com/Ocramius/event-sourcing-workshop/ for now.

That said, I think we may need an explicit map of `require` to PECL/APT packages here: there is no clear rule on what needs to be installed.

For instance, installing Sqlite3 + PDO means having `ext-pdo_sqlite` :shrug:

[2022-09-13 15:28] internalsystemerror opened #131 "Add in `composer-require-checker` as a globally installed tool"
### Feature Request

|    Q        |   A
|------------ | ------
| New Feature | yes
| RFC         | no
| BC Break    | no

#### Summary

[`composer-require-checker`](https://github.com/maglnet/ComposerRequireChecker) is a useful tool for ensuring that `composer.json` contains all the necessary required packages. It is advised to be used as a standalone tool, or as globally installed, not as a deve

[2022-09-14 11:36] boesing commented on #131
we first should see that we merge the matrix container and CI container into one project so we have aligned releases.
Then we can add the tool to the CI container while providing the job via the matrix container.

I would not expect that we need to run `composer require --global` for that. If we want to have this installed for every CI run, we can add it to `/usr/local/bin` and use it.

Not sure w

[2022-09-14 12:28] internalsystemerror commented on #131
Because it's a PHP tool requiring PHP and the matrix runs in JS was my thinking, but I guess the JS just needs to set up a job to run like PHPUnit (which I assume is already running on PHP).

[2022-09-14 16:54] boesing commented on #131
imho the matrix does not run any checks. The matrix should generate checks and thus I dont see the point why we want to execute the require checker here

[2022-09-14 16:57] Ocramius commented on #131
Indeed, matrix stays as-is, it's just the repositories that get together first

[2022-09-14 16:57] internalsystemerror commented on #131
I don't think we do want to do that, I was stating why I (mistakenly) thought #119 would be a blocker, but you're right we can just add it as another check once it's added to the ci container (however its installed).

[2022-10-06 06:58] basz commented on #130
just noting; adding a checkout step before laminas/laminas-ci-matrix-action resolves this issue. credentials are saved and laminas cn continue

[code]

[2022-10-24 07:33] kynx opened #135 "Run psalm against highest PHP version?"
### Feature Request

|    Q        |   A
|------------ | ------
| New Feature | yes
| RFC         | sort of
| BC Break    | not sure

#### Summary

While working on https://github.com/laminas/laminas-hydrator/pull/95 I had to completely exclude my new code in psalm.xml, since the component supports PHP 8.0 but the code uses a PHP8.1 feature (enums). I think it would make sense to run Psalm on the

[2022-10-24 07:37] Ocramius commented on #135
Running psalm on the lowest version guarantees that our stuff "keeps working",  and that we didn't accidentally upgrade our users to unsupported features.

It also is in line with our lockfile strategy: if we have a component with `^8.0`, and PHP 8.3 is released, you don't accidentally get broken CI until you bump the minimum supported version.

We cannot run both on lowest and on latest supported

[2022-10-24 07:37] Ocramius commented on #135
Practically, as we remove supported versions, the baseline should slowly shrink :)

[2022-10-24 07:37] #135 closed, assigned to Ocramius

[2022-10-24 07:38] Ocramius commented on #135
Closing: we can't fix this, as running psalm on the newest supported PHP version would make CI much more unstable.

[2022-11-02 15:00] Ocramius opened #140 "Bump `package.json` to use `node:^19`"
### Bug Report

As found in #134, we use `node:^18` in `package.json` and `node:19` in `Dockerfile`.

|    Q        |   A
|------------ | ------
| Version(s)  | 1.19.0

NPM happily keeps installing everything with a warning:

[code]

That's why I kept going and released `1.19.0` anyway: for `1.20.0` we should fix the dependency range.

[2022-11-02 15:12] internalsystemerror commented on #140
This should error instead of warn with:

`.npmrc`
[code]

[2022-11-02 15:20] #140 closed, assigned to internalsystemerror

[2022-11-07 23:28] boesing opened #145 "Stable PHP version should be changed to PHP 8.0"
### Feature Request

|    Q        |   A
|------------ | ------
| New Feature | yes

#### Summary

As of now, stable PHP version default option in this container is PHP 7.4.
Since 7.4 is moved to EOL on [2022-11-28](https://www.php.net/supported-versions.php), we should modify the default PHP version in this container to PHP 8.0 as new stable.

https://github.com/laminas/laminas-ci-matrix-action/b

[2022-11-10 08:32] boesing opened #147 "GHA `set-output` is deprecated"
It seems that the way how we (I) implemented the tests in this project might become invalid at some point in time.
I've recently seen the output of one of the tests within a PR and it says:

I just create this ticket as a reminder that there is a TODO but unfortunately I don't have time as of right now to work on this right now.

[2022-11-14 19:00] #147 closed, assigned to nobody